langchain==0.2.16
langchain-openai==0.1.25
langchain-community==0.2.16
langchain-chroma==0.1.4
langchain-groq==0.1.9
langchain-google-genai==1.0.10
chromadb==0.5.3
openai==1.47.0
streamlit==1.38.0
pypdf==4.3.1
pydantic==2.9.2
tiktoken==0.7.0
python-dotenv==1.0.1
requests==2.32.3
sentence-transformers==3.0.1
httpx==0.27.2
